<ion-backdrop inert></ion-backdrop>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cerrarModalEditarCliente()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="confirmar()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <form>
      <ion-row>
        <ion-col size="6">
          <ion-input label="Identificación" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.cedula" name="Cedula"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input label="Tipo Identificación" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.tipoIdentificacion" name="tipoIdentificacion"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input  [readonly]="!tienePermiso('097')" label="Nombre jurídico" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.ClienteNombre" name="nombreCliente"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input [readonly]="!tienePermiso('097')" label="Nombre comercial" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.nombreComercial" name="nombreComercial"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input label="Correo" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.email" name="email"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input label="Teléfonos" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.telefono" name="telefono"></ion-input> 
        </ion-col>
        <ion-col size="6">
          <ion-input label="Cuenta" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.id_Cliente" name="cuenta" readonly></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input  label="Tipo precio" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.tipoPrecio" name="tipoPrecio" readonly></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-select 
            label="Moneda" 
            label-placement="floating" 
            fill="outline" 
            [(ngModel)]="clienteSeleccionado.moneda" 
            name="moneda"
            placeholder="Selecciona una moneda"
            okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="CRC">CRC</ion-select-option>
            <ion-select-option value="USD">USD</ion-select-option>
            <ion-select-option value="EUR">EUR</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12">
          <ion-input label="Dirección física" label-placement="floating" fill="outline" [(ngModel)]="clienteSeleccionado.direccion" name="direccion"></ion-input> 
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>