ion-col {
    text-align: center;
  }

  .btnMenuP{
    font-size: 1.5vh;
    height: 10.5vh;
    padding: 0vh;
    box-shadow: 0vh 1vh 0.5vh rgb(54, 51, 51);
  }
  .btnMenuP .icono{
    font-size: 4vh;
  }