<app-header></app-header>


<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="facturacion()" class="btnMenuP">
          <ion-icon class="icono" slot="start" name="receipt-outline"></ion-icon>
            Facturación
        </ion-button>
      </ion-col>
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="proformas()"  class="btnMenuP">
          <ion-icon class="icono" name="list-outline" slot="start"></ion-icon>
          Proformas
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Ventas()"  class="btnMenuP">
          <ion-icon class="icono" name="trending-up-outline" slot="start"></ion-icon>
          Ventas
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Clientes()"  class="btnMenuP">
          <ion-icon class="icono" name="people-outline" slot="start"></ion-icon>
          Clientes
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Inventario()"  class="btnMenuP">
          <ion-icon class="icono" name="keypad-outline" slot="start"></ion-icon>
          Inventario
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="SAC()"  class="btnMenuP">
          <ion-icon class="icono" name="restaurant-outline" slot="start"></ion-icon>
          SAC
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="CxC()"  class="btnMenuP">
          <ion-icon class="icono" name="card-outline" slot="start"></ion-icon>
          CxC
        </ion-button>
      </ion-col>
      
      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="CxP()"  class="btnMenuP">
          <ion-icon class="icono" name="cash-outline" slot="start"></ion-icon>
          CxP
        </ion-button>
      </ion-col>

      
      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Provedores()"  class="btnMenuP">
          <ion-icon class="icono" name="pricetags-outline" slot="start"></ion-icon>
          Proveedores
        </ion-button>
      </ion-col>

      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Compras()"  class="btnMenuP">
          <ion-icon class="icono" name="car-outline" slot="start"></ion-icon>
          Compras
        </ion-button>
      </ion-col>

      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary" (click)="Usuarios()"  class="btnMenuP">
          <ion-icon class="icono" name="person-outline" slot="start"></ion-icon>
          Usuarios
        </ion-button>
      </ion-col>

      <ion-col size="6" size-xs="6">
        <ion-button size="full" color ="primary"  (click)="Resumen()" class="btnMenuP">
          <ion-icon class="icono" name="bar-chart-outline" slot="start"></ion-icon>
          Resumen
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>




</ion-content>

<app-footer></app-footer>